:host *, * {
  box-sizing: border-box;

  --vw: var(--root-slot-width, 100dvw);
  --vh: var(--root-slot-height, 100dvh);
}

body {
  margin: 0;
}

synth-brain {
  background: #111417;
  color: #f1f4f3;
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  height: var(--vh);
  width: var(--vw);
  display: grid;
  column-gap: 24px;
  grid-template-columns: 24px minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) 24px;
  grid-template-rows: 24px minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) 24px;
  grid-template-areas:
    ". . . . ."
    ". granulation display effects ."
    ". transport display effects ."
    ". joystick waveform logo ."
    ". joystick ribbon logo .";
}

#granulation {
  grid-area: granulation;
}

#effects {
  grid-area: effects;
}

#joystick {
  grid-area: joystick;
}

#ribbon {
  grid-area: ribbon;
}

#transport {
  grid-area: transport;
}

#logo {
  grid-area: logo;
  text-align: center;
  place-self: center;
}

#logo img {
  max-width: 100%;
  max-height: 100%;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

synth-display { 
  grid-area: display;
}

synth-waveform {
  grid-area: waveform;
}

#granulation > dnd-wrapper {
  display: flex;
  flex: 1 1 auto;
}

#granulation > dnd-wrapper synth-waveform {
  flex: 1 1 auto;
}

.synth-effects {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.synth-effect {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;

  &:not(:first-child)::after {
    background-clip: content-box;
    background-image: repeating-linear-gradient(
      to right,
      white 0 6px,
      transparent 6px 12px
    );
    box-sizing: border-box;
    block-size: 1px;
    inset-inline: 0;
    content: "";
    position: absolute;
    inset-block-start: -18px;
  }
}

.synth-controls {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;

}
