* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header,
main,
footer {
}

header {
  height: 50px;
}

main {
  border: 1px solid black;
  display: flex;
}

section {
}

footer {
  height: 30px;
}
