* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header,
main,
footer {
  background-color: pink;
}

header {
  height: 50px;
}

main {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

footer {
  height: 30px;
}
